@import "https://fonts.googleapis.com/css?family=Montserrat:300, 400, 500, 600";
@import 'https://fonts.googleapis.com/css?family=Shadows+Into+Light';
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}
.container {
  /*position: absolute;*/
  display: inline-block;
  cursor: pointer;
  background: -moz-linear-gradient(
    -45deg,
    rgba(208, 53, 214, 0.7) 0%,
    rgba(136, 50, 168, 0.8) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    rgba(208, 53, 214, 0.7) 0%,
    rgba(136, 50, 168, 0.8) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    rgba(208, 53, 214, 0.7) 0%,
    rgba(136, 50, 168, 0.8) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  padding-top: 1em;
  padding-right: 2em;
  padding-bottom: 1em;
  padding-left: 2em;
  text-align: center;
  margin-top: 12em;
  font-size: 3em;
  font-weight: 300;
  color: #f2c7ff;
  border-radius: 1em;
  box-shadow: 2px 4px 20px 4px #0000001f;
  animation: fadeIn 2s ease-out 0.5s;
  transition: all 0.5s;
  animation-fill-mode: backwards;
  width: 11em;
}
.container2 {
  /* position: absolute; */
  /* display: inline-block; */
  width: 12em;
  cursor: pointer;
  background: -webkit-linear-gradient(
    -45deg,
    rgba(208, 53, 214, 0.7) 0%,
    rgba(136, 50, 168, 0.8) 100%
  );
  background: -webkit-linear-gradient(
    315deg,
    rgba(208, 53, 214, 0.7) 0%,
    rgba(136, 50, 168, 0.8) 100%
  );
  background: -o-linear-gradient(
    315deg,
    rgba(208, 53, 214, 0.7) 0%,
    rgba(136, 50, 168, 0.8) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(208, 53, 214, 0.7) 0%,
    rgba(136, 50, 168, 0.8) 100%
  );
  padding-top: 1em;
  padding-right: 2em;
  padding-bottom: 1em;
  padding-left: 2em;
  text-align: center;
  margin: 1em 2em 1em 2em !important;
  font-size: 3em;
  font-weight: 300;
  color: #f2c7ff !important;
  border-radius: 1em;
  -webkit-box-shadow: 2px 4px 20px 4px #0000001f;
  box-shadow: 2px 4px 20px 4px #0000001f;
  -webkit-animation: fadeIn 2s ease-out 0.5s;
  animation: fadeIn 2s ease-out 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
.container:hover {
  background: -moz-linear-gradient(
    -45deg,
    rgba(208, 53, 214, 0.7) 0%,
     (177, 76, 214, 0.8) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    rgba(208, 53, 214, 0.7) 0%,
    rgba(177, 76, 214, 0.8) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    rgba(208, 53, 214, 0.7) 0%,
    rgba(177, 76, 214, 0.8) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.container:active {
  transform: translateY(3px);
  background: -moz-linear-gradient(
    -45deg,
    rgba(208, 53, 214, 0.7) 0%,
     (177, 76, 214, 0.8) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    rgba(208, 53, 214, 0.7) 0%,
    rgba(177, 76, 214, 0.8) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    rgba(208, 53, 214, 0.7) 0%,
    rgba(177, 76, 214, 0.8) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile {
  display: inline-block;
  width: 20em;
  height: 20em;
  border-radius: 50%;
  border: 0.3em solid rgba(208, 53, 214, 0.7);
  box-shadow: 2px 4px 20px 4px #0000001f;
  position: absolute;
  top: 10em;
  animation: fadeIn 1s ease-out;
}
.profile2 {
  display: inline-block;
  width: 20em;
  height: 20em;
  border-radius: 50%;
  border: 0.3em solid rgba(208, 53, 214, 0.7);
  box-shadow: 2px 4px 20px 4px #0000001f;
  position: absolute;
  top: 7em;
  animation: fadeIn 1s ease-out;
}
.profile4 {
  display: inline-block;
  width: 20em;
  height: 20em;
  border-radius: 50%;
  border: 0.3em solid rgba(208, 53, 214, 0.7);
  box-shadow: 2px 4px 20px 4px #0000001f;
  position: absolute;
  top: 2em;
  animation: fadeIn 1s ease-out;
}
.profile5 {
  display: inline-block;
  width: 20em;
  height: 20em;
  border-radius: 50%;
  border: 0.3em solid rgba(208, 53, 214, 0.7);
  -webkit-box-shadow: 2px 4px 20px 4px #0000001f;
  box-shadow: 2px 4px 20px 4px #0000001f;
  position: absolute;
  top: 6em;
  left: 50%;
  transform: translateX(-50%);
}
.profile-box {
  position: relative;
  padding: 5px;
  border-radius: 50%;
  width: 19em;
  height: 19em;
}
.profile-box2 {
  position: relative;
  padding: 9px 5px 5px 9px;
  border-radius: 50%;
  width: 19em;
  height: 19em;
}
.footer {
  position: absolute;
  display: inline;
  bottom: 0;
  padding: 0.3em;
}
.footer span {
  display: block;
  cursor: pointer;
  font-size: 1.5em;
  color: rgba(208, 53, 214, 0.7);
}
.footer span:hover {
  display: block;
  cursor: pointer;
  font-size: 1.5em;
  color: rgba(208, 53, 214, 0.9);
}
.bounce {
  animation: fadeIn 2s ease-out 0.5s, bounce 1s infinite linear;
  animation-delay: 0s, 3s;
  transition: all 0.5s;
}
.bounce:hover {
  background: -moz-linear-gradient(
    -45deg,
    rgba(208, 53, 214, 0.7) 0%,
     (177, 76, 214, 0.8) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    rgba(208, 53, 214, 0.7) 0%,
    rgba(177, 76, 214, 0.8) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    rgba(208, 53, 214, 0.7) 0%,
    rgba(177, 76, 214, 0.8) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.title {
  margin-top: 3em;
  font-size: 2em;
  font-family: 'Shadows Into Light';
  color: rgba(208, 53, 214, 0.9);
  text-align: center;
  animation: fadeIn 1s ease-out;
  text-shadow: -1px 12px 13px #00000014;
}
.intro {
  margin-top: 2em;
  font-size: 2em;
}
.already-user {
  margin-top: 4em;
  cursor: pointer;
  color: rgba(177, 76, 214, 0.8) !important;
}
#spin::after {
  color: #ff88fc;
  content: 'Welcome';
  animation: spin 15s ease-in-out;
  transition: all 1s;
  animation-fill-mode: forwards;
}

@keyframes spin {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
    content: 'Welcome';
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    content: 'Share your feelings';
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    content: 'by just one picture';
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 1;
    content: 'make day exciting';
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 1;
    content: ' join now';
  }
  100% {
    opacity: 1;
    content: ' join now';
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
